.range-input-field {
  display: grid;
  padding: 1rem;
}

.range-input-field__main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.range-input-field__main label {
  align-self: center;
  flex-grow: 1;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: var(--input-height);
}

.range-input-field .range-slider {
  /* Area */
  --rs-area-size: 0.5rem;
  --rs-area-border-width: 0;
  --rs-area-border-radius: 100vh;
  --rs-background: var(--input-bg-color);

  /* Slider  */
  --rs-slider-size: 1rem;
  --rs-slider-background: #b3b3b3;
  --rs-slider-border-width: 0;
  --rs-slider-border-radius: 100vh;
  --rs-slider-offset: calc((var(--rs-area-size) - var(--rs-slider-size)) / 2);

  /* Hover state */
  --rs-hover-background: var(--input-bg-color);
  --rs-hover-slider-color: var(--input-bg-color);

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &.range-slider_x-axis .range-slider__area {
    margin-left: 1px;
    margin-right: 1px;
  }
}

.range-input-field .range-input__value {
  --input-color: var(--main-text-color);
  --input-bg: #262626;
  --input-border-radius: 0;
  --input-border-color: #262626 #262626 var(--input-bg-color) #262626;
  --input-focus-color: var(--main-text-color);
  --input-focus-bg: var(--input-bg-color);
  --input-focus-shadow: none;
  --input-focus-border: var(--input-bg-color);

  max-width: 150px;
  text-align: right;
}

.range-input-field .range-input-field__additional {
  color: var(--main-text-color);
  font-size: 0.7rem;
}
