.select-field {
  display: grid;
  padding: 0 1rem 1rem 1rem;
}

.select-field label {
  align-self: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: var(--input-height);
}

.select-field .dd__container {
  width: 100%;
}
