.toolbar {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  right: 0;
  top: 0;
  gap: 1rem;
  padding: 1rem;
  z-index: 5000;
  background: #262626;
}

.btn.toolbar-btn {
  --btn-size: 2rem;
  --btn-icon-color: var(--neutral-color);
  --btn-hover-icon-color: var(--main-text-color);

  width: var(--btn-size);
}
