.settings-panel-collapsible {
  border-bottom: 1px solid var(--input-border-color);
}

.settings-panel-collapsible .collapsible-header {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.settings-panel-collapsible__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.settings-panel-collapsible__header .header__icon {
  width: var(--settings-header-size);
  height: var(--settings-header-size);
  fill: var(--main-text-color);
}

.settings-panel-collapsible .collapse__content-wrapper {
  border-top: 1px solid var(--input-border-color);
  width: 100%;
}

.settings-panel-collapsible .collapsible-content .range-input-field {
  border-bottom: 1px solid var(--input-border-color);
}
