* {
  border: 0 none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

#root {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
}

.main-container {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.app-canvas {
  display: flex;
}

.btn.header-btn {
  --btn-size: 2rem;
  --btn-icon-color: #ffffff;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-size);
  margin: 1rem;
  color: #ffffff;
}

.offcanvas {
  background: #262626;
}

.offcanvas_right.offcanvas_closed {
  display: none;
}

/* Right side settings panel */
.settings {
  --offcanvas-bg: #ffffff;

  z-index: 2110;
}

.settings .offcanvas__content {
  display: flex;
  overflow-y: auto;
}

.settings + .offcanvas__bg {
  z-index: 2100;
}

/* Desktop */
@media (min-width: 768px) {
  .settings {
    z-index: 1000;
    position: static;
    height: 100vh;
  }

  .offcanvas__bg {
    display: none;
  }
}

.data-section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 1rem;
}

.data-section__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.date-value {
  display: flex;
  flex-flow: column nowrap;
  color: #dddddd;
  margin-bottom: 1rem;
}
