html {
  background-color: #000000;
}

#root {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.data-section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1rem;
}

.date-value {
  display: flex;
  flex-flow: column nowrap;
  color: #dddddd;
  margin-bottom: 1rem;
}
